<div class="container">
  <div class="row">
    <br />
    <br />
    <div id="search_filter_field">
      <!-- search -->
      <div class="form-group" id="search-div">
        <label for="search">Search Book</label>
        <input
          type="text"
          name="search"
          class="form-control"
          [(ngModel)]="bookName"
        />
      </div>

      <!-- filter -->
      <div class="form-group" id="filter-div">
        <span for="dropdownInput">Filter</span>
        <div class="dropdown">
          <input
            type="text"
            id="searchInput"
            class="form-control"
            (click)="filtertoggleDropdown()"
            [value]="filterSelectedValue"
            id="search_field"
            [(ngModel)]="filterSelectedValue"
          />
          <div
            class="dropdown-menu"
            [class.show]="isFilterDropdownOpen"
            aria-labelledby="searchInput"
          >
            <a
              class="dropdown-item"
              *ngFor="let option of filterOption"
              (click)="filterSelectOption(option)"
              >{{ option }}</a
            >
          </div>
        </div>
      </div>
      <!-- filter end -->

      <button class="btn btn-success" id="search-button" (click)="search()">
        search
      </button>
    </div>
  </div>
</div>
<br />
<br />
<br />

<div class="container">
  <div class="row" style="flex-direction: column">
    <!-- Card -->
    <ng-container *ngIf="bookList.length > 0" id="card-container">
      <div
        class="card mb-3"
        style="max-width: 540px"
        *ngFor="let book of bookList"
        id="accordian"
      >
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../../assets/bookimage.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                {{ book?.title }}
                <div>
                  <!-- delete button -->
                  <button class="btn btn-danger" id="deleteBook">
                    <i class="fa-solid fa-trash-arrow-up" id="delete_icon"></i>
                  </button>
                  <!-- delete button -->

                  <!-- Update button -->
                  <button
                    class="btn btn-dark"
                    id="updateBook"
                    data-bs-target="#updateBookModal"
                    data-bs-toggle="modal"
                    id="updatebook"
                  >
                    <i class="fa-solid fa-pen"></i>
                  </button>
                  <!-- update button end -->
                </div>
              </h5>
              <p class="card-text">{{ book?.genre }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container #elseblock> </ng-container>
    <!-- Card end -->
  </div>
</div>
